/* ====================== GENERAL STYLES ======================*/
:root {
  --color-scrollbar: #D3D3D4;
  --color-background-scrollbar: #EEE;
}

/* ====================== SCROLL CHROME SIDEBAR ======================*/
.layout__main::-webkit-scrollbar {
  width: 25px;
  background-color: transparent;
}

.layout__main::-webkit-scrollbar-thumb {
  border: 10px solid transparent;
  box-shadow: none;
  border-radius: 40px;
}

.layout__main:hover::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px var(--color-scrollbar);
}

.layout__main:hover::-webkit-scrollbar-thumb:hover {
  border: 8px solid transparent;
  box-shadow: inset 0 0 0 10px var(--warning-color);
}

.layout__main::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 40px 0;
}

