/* ====================== GENERAL STYLES ======================*/
:root {
  --background-color: #ccc;
  --primary-color: #fff;
  --icon-color: #cbc9c7;
  --danger-color: #dd4c3f;
  --warning-color: #f5c542;
  --info-color: #4986e5;
  --layout-bg: #fff;
  --aside-color: #fcfaf8;
  --placeholder-color: #aaa;
  --main-color: #808080;
}

html {
  font-size: 62.5%; /* Equivalent to 10px */
}

body {
  width: 100%;
  font-family: system-ui, Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: var(--background-color);
  color: var(--color-text);
  background-image: url("../image/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -20px -40px;
  overflow: hidden;
}

.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

svg {
  color: var(--icon-color);
}


/* ====================== LAYOUT ======================*/
.layout {
  display: grid;
  grid-template-areas: "content";
  grid-template-columns: 100%;
  width: 90%;
  height: 100vh;
  margin: auto;
  background-color: var(--layout-bg);
}

.layout__menu-toggle {
  position: absolute;
  top: 0.8rem;
  right: 5.5%;
  width: 4.8rem;
  height: 4.8rem;
  font-size: 2.5rem;
  line-height: 5rem;
  border-radius: 3rem;
  text-align: center;
  cursor: pointer;
  z-index: 999;
  transition: all 500ms linear;
}

.menu-togle__icon {
  display: block;
  position: absolute;
  top: 23%;
  left: 23%;
  color: #000;
  transition: all 300ms linear;
}

.icon-tabler-dots-vertical {
  opacity: 1;
}

.icon-tabler-x {
  opacity: 0;
}


/* ====================== ASIDE ======================*/
.layout__aside {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 27rem;
  padding: 1.8rem;
  background-color: var(--aside-color);
  color: #7a7774;
  overflow: auto;
  z-index: 999;
  transition: all 300ms linear;
  margin-left: -100%;
  opacity: 0;
  overflow: hidden;
}

.layout__aside-visible {
  margin-left: 0%;
  opacity: 1;
}

.aside__user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-info__image,
.profile__image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.user-info__name {
  font-weight: bold;
  text-transform: capitalize;
}

.user-info__noti {
  margin-left: auto;
}

.aside__user-options>*,
.aside__user-projects>* {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.icon-tabler-circle-plus {
  color: var(--danger-color);
}

.user-options__text {
  width: 100%;
  padding: 0.3rem 0;
  background-color: transparent;
  border: none;
  text-align: start;
  cursor: pointer;
}

.task__text {
  color: var(--danger-color);
}

.option__active {
  background-color: #fff0e5;
  color: var(--danger-color);
}

.options__icon {
  color: var(--danger-color);
}

.search__text:focus {
  outline: none;
}

.search__text:focus::placeholder {
  color: var(--danger-color);
}

.user-options__icon {
  color: var(--danger-color);
}

.icon__active {
  color: var(--danger-color);
}

.user-projects__project {
  display: block;
  margin-top: 1rem;
}

.project__symbol {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 0.6rem;
  margin-right: 1.5rem;
  color: var(--symbol-color);
}

.project__title {
  position: relative;
  bottom: 0.2rem;
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.project__title::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0.2rem;
  left: 0;
  bottom: 0rem;
  background-color: var(--after-bg-color);
  transition: width 100ms linear;
}

.project__title:hover::after {
  width: 100%;
}


/* ====================== DIALOG ======================*/
.layout__dialog::backdrop {
  background-color: rgb(0 0 0 / 0.22);
}

.layout__dialog {
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  width: 60rem;
  height: 27rem;
  border: 1px solid var(--icon-color);
  border-radius: 15px;
  opacity: 0;
  z-index: 99999;
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.dialog__visible {
  left: 50%;
  opacity: 1;
}

.dialog__form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form__close {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  width: 2.3rem;
  height: 2.3rem;
  cursor: pointer;
  fill: #222;
  transition: 1s;
}

.form__group {
  display: flex;
  justify-content: space-between;
}

.form__group:first-of-type {
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
  border-bottom: 1px solid var(--icon-color);
}

.form__group:last-of-type {
  padding: 1.5rem;
}

.form__group>div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form__input {
  padding: 0.5rem;
}

.form__input:focus {
  outline: 1px solid var(--background-color);
}

#title {
  font-size: 2.5rem;
  font-weight: bold;
  border: 0;
}

#title::placeholder {
  color: var(--placeholder-color);
}

#date,
#category {
  width: 11rem;
}

.form__span {
  font-size: 2rem;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.3rem 2rem;
  background-color: rgb(0 0 0 / 0.8);
  border: 0;
  cursor: pointer;
  overflow: hidden;
  transition: all 1s;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

.form__button:hover {
  box-shadow:
    0 0 10px var(--warning-color),
    0 0 30px var(--warning-color),
    0 0 60px var(--warning-color),
    0 0 100px var(--warning-color);
}

.form__button::before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 400%;
  background-color: var(--warning-color);
  transition: all 1s;
  animation: animate 2s linear infinite;
}

.form__button:hover::before {
  width: 120%;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg)
  }
}

.form__button::after {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: #0e1538;
  transition: 0.5s;
}

.form__button:hover::after {
  background-color: var(--warning-color);
}

.button__text {
  position: relative;
  font-weight: bold;
  color: var(--primary-color);
  opacity: 0.5;
  transition: all 0.5s;
  z-index: 1;
}

.button__text:hover {
  opacity: 1;
}


/* ====================== MAIN ======================*/
.layout__main {
  grid-area: content;
  padding: 2rem 2rem 0;
  overflow: auto;
}

.layout__main>*,
.main__todo>div {
  margin-bottom: 2rem;
}

.todo__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--icon-color);
}

.list__checklist[type="checkbox"] {
  display: grid;
  place-content: center;
  -webkit-appearance: none;
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 1px solid var(--main-color);
}

.list__checklist[type="checkbox"]::before {
  content: '';
  width: 1rem;
  height: 1rem;
  box-shadow: inset 10px 10px var(--main-color);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 120ms ease-in-out;
}

.list__checklist[type="checkbox"]:checked::before {
  transform: scale(1);
}

.checklist__p-1[type="checkbox"] {
  border: 1px solid var(--danger-color);
}

.checklist__p-1[type="checkbox"]::before {
  box-shadow: inset 10px 10px var(--danger-color);
}

.checklist__p-2[type="checkbox"] {
  border: 1px solid var(--warning-color);
}

.checklist__p-2[type="checkbox"]::before {
  box-shadow: inset 10px 10px var(--warning-color);
}

.checklist__p-3[type="checkbox"] {
  border: 1px solid var(--info-color);
}

.checklist__p-3[type="checkbox"]::before {
  box-shadow: inset 10px 10px var(--info-color);
}

.list__title {
  width: calc(100% - 2.2rem);
}

.list__date {
  display: flex;
  align-items: center;
  position: relative;
  left: 1.8rem;
  font-size: 1.3rem;
  margin-top: 0.3rem;
  line-height: 1rem;
}

.list__date-icon {
  display: inline-block;
  width: 1.5rem;
}

.list__date-icon:last-child {
  margin-left: 0.5rem;
}

.list__edit {
  position: absolute;
  top: 0.3rem;
  right: 2.3rem;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: 0;
  fill: var(--main-color);
}

.list__remove {
  position: absolute;
  top: 0.3rem;
  right: 0;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  fill: var(--danger-color);
}

.list__notfound {
  font-size: 2.5rem;
  font-weight: bold;
}

.list__info {
  display: inline-block;
  position: absolute;
  top: 0.3rem;
  right: 15%;
  width: fit-content;
  padding: 0 0.4rem;
  color: var(--primary-color);
  font-weight: bold;
  line-height: 1.7rem;
}

.list__info-new {
  background-color: lightgreen;
}

.list__info-expired {
  background-color: var(--danger-color);
}

.main__sort {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-right: 1.9rem;
  cursor: pointer;
}

.main__sort:hover {
  color: var(--danger-color);
  fill: var(--danger-color)
}