/* ====================== GENERAL STYLES ======================*/
:root {
  --background-color: #ccc;
  --primary-color: #fff;
  --icon-color: #cbc9c7;
  --danger-color: #dd4c3f;
  --warning-color: #f5c542;
  --info-color: #00ddeb;
  --layout-bg: #fff;
  --aside-color: #fcfaf8;
  --placeholder-color: #aaa;
  --main-color: #808080;
}

html {
  font-size: 62.5%; /* Equivalent to 10px */
}

body {
  width: 100%;
  font-family: system-ui, Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: var(--background-color);
  color: var(--color-text);
  background-image: url('../image/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -20px -40px;
  overflow: hidden;
}

.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

svg {
  color: var(--icon-color);
}

/* ====================== LAYOUT ======================*/
.layout {
  display: grid;
  grid-template-areas: 'content';
  grid-template-columns: 100%;
  width: 90%;
  height: 100vh;
  margin: auto;
  background-color: var(--layout-bg);
}

.layout__menu-toggle {
  position: absolute;
  top: 0.8rem;
  right: 5.5%;
  width: 4.8rem;
  height: 4.8rem;
  font-size: 2.5rem;
  line-height: 5rem;
  border-radius: 3rem;
  text-align: center;
  cursor: pointer;
  z-index: 999;
  transition: all 500ms linear;
}

.menu-togle__icon {
  display: block;
  position: absolute;
  top: 23%;
  left: 23%;
  color: #000;
  transition: all 300ms linear;
}

.icon-tabler-dots-vertical {
  opacity: 1;
}

.icon-tabler-x {
  opacity: 0;
}

/* ====================== ASIDE ======================*/
.layout__aside {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 27rem;
  padding: 1.8rem;
  background-color: var(--aside-color);
  color: #7a7774;
  overflow: auto;
  z-index: 999;
  transition: all 300ms linear;
  margin-left: -100%;
  opacity: 0;
  overflow: hidden;
}

.layout__aside-visible {
  margin-left: 0%;
  opacity: 1;
}

.aside__user-info {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.user-info__image,
.profile__image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.user-info__name {
  font-weight: bold;
  text-transform: capitalize;
}

.user-info__noti {
  margin-left: auto;
}

.aside__user-options > *,
.aside__user-projects > * {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.icon-tabler-circle-plus {
  color: var(--danger-color);
}

.user-options__text {
  width: 100%;
  padding: 0.3rem 0;
  background-color: transparent;
  border: none;
  text-align: start;
  cursor: pointer;
}

.task__text {
  color: var(--danger-color);
}

.option__active {
  background-color: #fff0e5;
  color: var(--danger-color);
}

.options__icon {
  color: var(--danger-color);
}

.search__text:focus {
  outline: none;
}

.search__text:focus::placeholder {
  color: var(--danger-color);
}

.user-options__icon {
  color: var(--danger-color);
}

.icon__active {
  color: var(--danger-color);
}

.user-projects__project {
  display: block;
  margin-top: 1rem;
}

.project__symbol {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 0.6rem;
  margin-right: 1.5rem;
  color: var(--symbol-color);
}

.project__title {
  position: relative;
  bottom: 0.2rem;
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.project__title::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0.2rem;
  left: 0;
  bottom: 0rem;
  background-color: var(--after-bg-color);
  transition: width 100ms linear;
}

.project__title:hover::after {
  width: 100%;
}

/* ====================== DIALOG ======================*/
.layout__dialog::backdrop {
  background-color: rgb(0 0 0 / 0.22);
}

.layout__dialog {
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  width: 60rem;
  height: 27rem;
  border: 1px solid var(--icon-color);
  border-radius: 15px;
  opacity: 0;
  z-index: 99999;
  transition:
    left 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}

.dialog__visible {
  left: 50%;
  opacity: 1;
}

.dialog__form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form__close {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  width: 2.3rem;
  height: 2.3rem;
  cursor: pointer;
  fill: #222;
  transition: 1s;
}

.form__group {
  display: flex;
  gap: 1rem;
}

.form__group:first-of-type {
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
  border-bottom: 1px solid var(--icon-color);
}

.form__group:last-of-type {
  padding: 1.5rem;
}

.form__group > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form__input {
  padding: 0.5rem;
}

.form__input:focus {
  outline: 1px solid var(--background-color);
}

#title {
  font-size: 2.5rem;
  font-weight: bold;
  border: 0;
}

#title::placeholder {
  color: var(--placeholder-color);
}

#date,
#category {
  width: 11rem;
}

.form__span {
  font-size: 2rem;
}

.form__create,
.form__cancel {
  position: relative;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.3rem 2rem;
  color: var(--primary-color);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms ease;
  z-index: 1;
}

.form__create {
  background-color: #f5cd5e;
}

.form__cancel {
  margin-left: auto;
  background-color: var(--background-color);
}

.form__create:hover {
  transform: translateY(-2px);
  background: var(--warning-color);
}

.form__cancel:hover {
  transform: translateY(-2px);
  background: var(--placeholder-color);
}

.form__create:active,
.form__cancel:active {
  transform: scale(0.95);
}

.create__shine,
.cancel__shine {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    12deg,
    transparent,
    rgb(255 255 255 / 0.2),
    transparent
  );
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: 0;
}

.form__create:hover .create__shine,
.form__cancel:hover .cancel__shine {
  transform: translateX(100%);
}

/* ====================== MAIN ======================*/
.layout__main {
  grid-area: content;
  padding: 2rem 2rem 0;
  overflow: auto;
}

.layout__main > *,
.main__todo > div {
  margin-bottom: 2rem;
}

.todo__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--icon-color);
}

.list__checklist[type='checkbox'] {
  display: grid;
  place-content: center;
  -webkit-appearance: none;
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  cursor: pointer;
}

.list__checklist[type='checkbox']::before {
  content: '';
  width: 1rem;
  height: 1rem;
  box-shadow: inset 10px 10px var(--primary-color);
  border-radius: 50%;
  transform: scale(0);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transition: transform 120ms ease-in-out;
}

.list__checklist[type='checkbox']:hover::before {
  transform: scale(1);
}

.list__checklist[type='checkbox']:checked::before {
  transform: scale(1);
}

.checklist__p-1[type='checkbox'] {
  border: 1px solid var(--danger-color);
}

.checklist__p-1[type='checkbox']:hover,
.checklist__p-1[type='checkbox']:checked {
  background-color: var(--danger-color);
}

.checklist__p-2[type='checkbox'] {
  border: 1px solid var(--warning-color);
}

.checklist__p-2[type='checkbox']:hover,
.checklist__p-2[type='checkbox']:checked {
  background-color: var(--warning-color);
}

.checklist__p-3[type='checkbox'] {
  border: 1px solid var(--info-color);
}

.checklist__p-3[type='checkbox']:hover,
.checklist__p-3[type='checkbox']:checked {
  background-color: var(--info-color);
}

.list__title {
  width: calc(100% - 2.2rem);
}

.list__date {
  display: flex;
  align-items: center;
  position: relative;
  left: 1.8rem;
  width: 97%;
  font-size: 1.3rem;
  margin-top: 0.3rem;
  line-height: 1rem;
}

.list__date-icon {
  display: inline-block;
  width: 1.5rem;
  margin-left: 0.5rem;
}

.list__date-category {
  margin-left: auto;
}

.list__edit {
  position: absolute;
  top: 0.3rem;
  right: 2.3rem;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  fill: var(--main-color);
}

.list__remove {
  position: absolute;
  top: 0.3rem;
  right: 0;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  fill: var(--danger-color);
}

.list__notfound {
  font-size: 2.5rem;
  font-weight: bold;
}

.list__info {
  display: inline-block;
  position: absolute;
  top: 0.3rem;
  right: 15%;
  width: fit-content;
  padding: 0 0.4rem;
  color: var(--primary-color);
  font-weight: bold;
  line-height: 1.7rem;
}

.list__info-new {
  background-color: lightgreen;
}

.list__info-expired {
  background-color: var(--danger-color);
}

.main__sort {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-right: 2.5rem;
  cursor: pointer;
}

.main__sort:hover {
  color: var(--danger-color);
  fill: var(--danger-color);
}
